@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Rubik:wght@500&display=swap);

:root{
    --background5-color: #131313;
    --contraste-color: #01a0c8;
    --hoverbutton-color: #085078;
    --background4-color: #1a1a1a;
    --background2-color: #202020;
    --background-color: #2c2c2c;
    --card-color: #0c0c0c;
    --textos-color: #a8a8a8;
    --textos2-color: #e6e6e6;
    --border-width: 0.3vh;
    --border-radius: 2vh;
}

section{
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    background-color: var(--background-color);
    flex-direction: column;
}

section::-webkit-scrollbar{
    width: 1vw;
    background-color: var(--background5-color);
}

section::-webkit-scrollbar-thumb{
    background-color: #01a0c8;
    border-radius: var(--border-radius);
}

section::-webkit-scrollbar-thumb:hover{
    background-color: var(--hoverbutton-color);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    display: flex;
    max-width: 100vw;
    font-family: 'Rubik', sans-serif;
    overflow: hidden;
}

.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.container::-webkit-scrollbar{
    display: none;
}

button{
    font-family: 'Rubik', sans-serif;
    border-radius: var(--border-radius);
    border: none;
    cursor: pointer;
    transition: all 200ms;
}

button:hover{
    transform: scale(1.1);
    transition: all 200ms;
    box-shadow: 1px 1px 11px 6px #202020;
}

.logo{
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--contraste-color);
}

hr{
    height: 0%;
    margin: 5% 0;
    background-color: var(--background4-color);
    border: 0.1vh solid var(--background4-color);
}

input{
    border-radius: var(--border-radius);
    border: var(--border-width) solid var(--background-color);
    height: 60%;
    width: 70%;
    padding-left: 3%;
    background-color: var(--background2-color);
    color: var(--textos-color);
}

input::placeholder{
    color: var(--textos-color);
}

/* HEADER LATERAL */
header {
    background-color: var(--background-color);
    color: var(--textos-color);
    height: 100vh;
    width: 20vw;
    border-right: var(--border-width) solid var(--background5-color);
    z-index: 2;
}

.header-left{
    box-shadow: 1px 1px 11px 2px #000000;
}

header ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
}

header li{
    margin-top: 5%;
    margin-bottom: 5%;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
}

header .text-next{
    position: absolute;
    color: var(--contraste-color);
    width: 0%;
    inset: 0;
    border-bottom: var(--border-width) solid var(--contraste-color);
    overflow: hidden;
    transition: 0.5s;
}

header li:hover .text-next {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color));
}

header a{
    text-decoration: none;
    color: unset;
}

/* HEADER DE CIMA */

.body-dois header{
    width: 100%;
    height: 10vh;
    border: none;
    display: flex;
    background-color: var(--background-color);
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: var(--border-width) solid var(--background5-color);
}

.body-dois header .bar-src{
    padding-left: 2%;
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
}

.body-dois header .btns{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.body-dois header .logado{
    display: none;
    justify-content: center;
}

.body-dois header .logado span{
    color: var(--contraste-color);
}

.body-dois header .logado img{
    width: 30px;
    margin-left: 10px;
    cursor: pointer;
}

.body-dois header .btns button{
    width: 40%;
    height: 50%;
    color: var(--background2-color);
    background-color: var(--contraste-color);
}

.body-dois header .btns button:hover{
    background-color: var(--hoverbutton-color);
    color: var(--contraste-color);
}

/* FOOTER DO SITE */
footer {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    color: var(--textos-color);
    border-top: var(--border-width) solid var(--hoverbutton-color);
}

footer h1{
    margin-bottom: 1vh;
    color: var(--contraste-color);
}

footer .direitos{
    height: 90%;
    width: 25%;
    padding: 0.5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-right: var(--border-width) solid var(--background2-color);
}

footer .agradecimentos{
    height: 90%;
    width: 25%;
    padding: 0.5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-right: var(--border-width) solid var(--background2-color);
}

footer .contato{
    height: 90%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

footer .contato h5{
    align-self: center;
}

/* DIV DE CADASTRO QUE VAI SOBREPOR */
.sobreposi{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 4;
    display: none;
    animation: sobrepor 0.9s ease forwards;
}

.cadastro{
    background-color: var(--background-color);
    width: 20%;
    height: 100%;
    display: none;
    box-shadow: -7px 1px 18px 0px rgba(0,0,0,0.75);
}

.login{
    background-color: var(--background-color);
    width: 20%;
    height: 100%;
    display: none;
    box-shadow: -7px 1px 18px 0px rgba(0,0,0,0.75);
}

.opacity{
    opacity: 0.4;
    background-color: black;
    width: 80%;
    height: 100%;
}

/* CADASTRO E LOGIN */
.sobreposi .container{
    display: flex;
    height: 90vh;
    justify-content: center;
    flex-direction: column;
    margin-top: 10%;
}

#form-cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 40vh;
    width: 100%;
}

.sobreposi label{
    align-self: flex-start;
    color: var(--contraste-color);
}

.sobreposi input{
    width: 100%;
    height: 5vh;
}

.sobreposi button{
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 80%;
    height: 5vh;
    align-self: center;
    border: none;
    color: var(--background2-color);
    background-color: var(--contraste-color);
}

.sobreposi button:hover{
    background-color: var(--hoverbutton-color);
    color: var(--contraste-color);
}


.sobreposi .logo{
    flex-direction: column;
    height: auto;
}

.sobreposi .logo img{
    align-self: flex-start;
}

.sobreposi span{
    color: var(--contraste-color);
    font-size: x-large;
    margin-left: 18.5%;
    margin-top: 0.5%;
    position: absolute;
    cursor: pointer;
}

.sobreposi h1{
    align-self: flex-start;
}

.sobreposi hr{
    margin: 15% 0 15% 0;
}

#form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 25%;
    width: 100%;
}

@keyframes sobrepor {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes fechar {
    0%{opacity: 1;}
    100%{opacity: 0;}
}

.wait {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 10vh;
}

.wait h5{
    color: var(--textos-color);
}

.wait a{
    cursor: pointer;
    color: var(--contraste-color);
}

.loading{
    display: none;
    flex-wrap: wrap;
    width: 6vw;
    height: 100%;
    align-self: center;
    justify-content: space-between;
}

.wait .card_erro{
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.loading span{
    position: relative;
    margin: 0;
    color: var(--textos-color);
}

.wait .card_erro h4{
    color: red;
}

.loading .ball{
    border-radius: 50%;
    width: 3vh;
    height: 3vh;
    background-color: var(--contraste-color);
    animation: load .5s alternate infinite;
}

.loading .ball:nth-child(2){
    animation-delay: .16s;
}

.loading .ball:nth-child(3){
    animation-delay: .32s;
}

@keyframes load {
    from{
        transform: scaleX(1.25);
    }

    to{
        transform: translateY(-2vh) scaleX(1);
    }
    
}

.top{
    height: 25vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: var(--contraste-color);
}

.top h1{
    font-size: 3rem;
}

.top h2{
    font-size: 2rem;
    color: var(--hoverbutton-color);
}

.audios{
    display: none;
}

/* DIV DE MUSICAS */

#music{
    padding: 20px;
    border-radius: var(--border-radius);
    background-color: var(--card-color);
    box-shadow: 1px 1px 11px 2px #000000;
    margin-bottom: 3vh;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
}

.content{
    position: relative;
}

.content .container {
    height: auto;
    width: 95%;
}

.content .player{
    background-color: var(--background-color);
    box-shadow: 1px 1px 11px 2px #000000;
    color: var(--textos-color);
    height: 10vh;
    border-radius: 2vh;
    width: 100%;
    padding: 1%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.content .player:hover{
    background-color: #494949;
    cursor: pointer;
}

.player .foto{
    border-radius: 2vh;
    height: 50px;
    margin-left: 20px;
    width: 50px;
    box-shadow: 1px 1px 11px 2px #000000;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.cor-titulos{
    color: var(--contraste-color);
}

.titles{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 2%;
    text-align: center;
}

.player .sobre{
    height: 10vh;
    border-radius: 5vh;
    width: 60vw;
    position: absolute;
    z-index: 6;
    cursor: pointer;
}

.titles h2{
    font-size: 1em;
}

.titles .title-music{
    color: var(--textos2-color);
}

.final h1{
    color: var(--textos2-color);
}

.titles h3{
    font-size: 0.8em;
}

.like{
    width: 30px;
    height: 30px;
    background-image: url("/assets/picture/heart.png");
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.likeRed{
    width: 30px;
    height: 30px;
    background-image: url("/assets/picture/heart-red.png");
    background-position: center;
    background-size: cover;
    cursor: pointer;
}


.player .final{
    width: 15vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.waveform{
    width: 45vw;
    height: 100%;
}

.sobreposi-playlist{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.7);
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 7;
    top: 0%;
}

.sobreposi-playlist .playlist-nome{
    width: 20%;
    border-radius: var(--border-radius);
    background-color: var(--background-color);
    padding: 1vh;
}

.sobreposi-playlist .playlist{
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    height: 5vh;
    align-items: center;
    font-size: 1.5rem;
    background-color: var(--card-color);
    color: var(--contraste-color);
    cursor: pointer;
    margin: 0.5vh 0 0.5vh 0;
}

.sobreposi-playlist .playlist:hover{
    background-color: var(--background5-color);
}

/* CLASS BOTTOM PLAYER */
.player_bottom{
    background-color: var(--background2-color);
    border-top: var(--contraste-color) solid 1px;
    box-shadow: 1px 1px 11px 2px #000000;
    height: 10vh;
    width: 99vw;
    position: absolute;
    z-index: 8;
    align-self: flex-end;
    display: none;
    justify-content: space-evenly;
    align-items: center;
    animation: .8s ativarPlayer linear forwards;
}

@keyframes ativarPlayer {
    from{
        bottom: -10vh;
    }

    to{
        bottom: 0vh;
    }
}

.player_bottom .foto{
    margin-left: 20px;
    margin-right: 20px;
    height: 60px;
    width: 60px;
    box-shadow: 1px 1px 11px 2px #000000;
    border-radius: 10px;
    background-color: green;
}

.player_bottom .botoes{
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player_bottom .botoes .maior{
    height: 40px;
    cursor: pointer;
}

.player_bottom .menor{
    height: 30px;
    cursor: pointer;
}

.player_bottom h2{
    color: var(--contraste-color);
}

.player_bottom h3{
    color: var(--hoverbutton-color);
}

.player_bottom .titles_bottom{
    display: flex;
    align-items: center;
    height: 100%;
    width: 15%;
}

.player_bottom .progress{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    gap: 5px;
    color: var(--textos-color);
}

.player_bottom progress{
    width: 600px;
    height: 10px;
    -webkit-appearance: none;
}

.player_bottom progress::-webkit-progress-value{
    background-color: var(--contraste-color);
    border-radius: 20px;
}

.player_bottom progress::-webkit-progress-bar{
    background: var(--card-color);
    border-radius: 20px;
}

.player_bottom .likes-playlist{
    color: var(--textos-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 5%;
    height: 100%;
}

.player_bottom .controls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1vh;
}

.nmrMusica{
    width: 50px;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player_bottom .foto{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.player_bottom h1{
    cursor: pointer;
}

#play_bottom{
    display: none;
}

/* EQUALIZADOR */
.equalizador{
    width: 40px;
    height: 100%;
    display: none;
    gap: 1px;
    align-items: center;
}

.equalizador div{
    width: 5px;
    height: 10%;
    border-radius: 3vh;
    background-color: var(--contraste-color);
    animation: equalizer 1s normal infinite forwards;
}

.equalizador div:nth-child(1){
    animation-delay: .1s;
}   


.equalizador div:nth-child(2){
    animation-delay: .3s;
}   


.equalizador div:nth-child(3){
    animation-delay: .2s;
}   


.equalizador div:nth-child(4){
    animation-delay: .4s;
}   

.equalizador div:nth-child(5){
    animation-delay: .1s;
}   

.equalizador div:nth-child(6){
    animation-delay: .3s;
}   

@keyframes equalizer {
    0%{
        height: 10%;
    }
    25%{
        height: 100%;
    }
    50%{
        height: 30%;
    }
    75%{
        height: 70%;
    }
    100%{
        height: 10%;
    }
}

/* PÁGINA QUE VAI SELECIONAR AS PLAYLISTS */
.topo .foto{
    width: 25%;
    height: 35vh;
    z-index: 8;
    margin-bottom: 3vh;
    margin-right: 1vw;
    border-radius: var(--border-radius);
    box-shadow: 1px 1px 11px 6px #202020;
    background-color: var(--background5-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.topo{
    display: flex;
    align-items: center;
    margin-top: 2vh;
}

.topo .title .voltar{
    height: 100%;
}

.topo .title img{
    width: 30px;
    cursor: pointer;
}

.topo .title{
    height: 35vh;
    width: 75%;
    margin-bottom: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1.5vh;
}

.topo .title h1{
    font-size: 3rem; 
    color: var(--contraste-color);
}

.topo .title h2{
    font-size: 2rem;
    color: var(--hoverbutton-color);
}

.topo .title .deletar_playlist{
    align-self: flex-end;
    position: absolute;
    cursor: pointer;
    width: 2vw;
}

.topo .title .deletar_playlist img{
    width: 100%;
}

/* PAGINA DE MUSICAS POR ARTISTAS */
#foto_Artista{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}