/* PARTE DE TOP 10 MUSICAS */
#top-dez{
    background-color: var(--card-color);
    border-radius: var(--border-radius);
    box-shadow: 1px 1px 11px 2px #000000;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 3vh;
    gap: 20px;
}

#top-dez .podio{
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    height: 50vh;
    display: flex;
    padding: 2vh;
    justify-content: center;
    align-items: flex-end;
    box-shadow: 1px 1px 11px 6px #000000;
}

#top-dez .podio .foto{
    width: 40%;
    background-position: center;
    background-size: cover;
    height: 100%;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}

#top-dez .podio .card{
    width: 60%;
    background-color: var(--card-color);
    height: 100%;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    overflow: scroll;
    padding: 1vh;
}

#top-dez .podio .card::-webkit-scrollbar{
    display: none;
}


.podio .card .posicaoTop{
    background-color: var(--background4-color);
    min-height: 10vh;
    width: 100%;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    padding: 1vh 1vh 1vh 2vh;
    gap: 1vw;
}

.podio .posicaoTop h1{
    color: var(--hoverbutton-color);
}

.podio .posicaoTop h2{
    color: var(--textos2-color);
}

.podio .posicaoTop h3{
    color: var(--textos-color);
}

.podio .posicaoTop h5{
    color: var(--contraste-color);
}

.podio .card .fotoArtista{
    width: 9vh;
    height: 9vh;
    background-position: center;
    background-size: cover;
    border-radius: var(--border-radius);
}

#top-dez .podio .top{
    background-color: var(--background5-color); 
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-radius: var(--border-radius);
    box-shadow: 1px 1px 11px 2px #000000;
    padding-top: 5px;
    align-items: center;
}

#top-dez .primeiro{
    height: 100%;
}

#top-dez .segundo{
    height: 90%;
}

#top-dez .terceiro{
    height: 80%;
}

#top-dez .medalha{
    display: flex;
    width: 100%;
    height: 7vh;
    justify-content: center;
    margin-bottom: 2%;
}

#top-dez .topTitles{
    color: var(--contraste-color);
}